.social-link {
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    font-size: 18px; /* 24px */
    line-height: 28px; /* 32px */
    border-radius: 0.25rem;

    &:hover{
        font-weight: 400;
    }

}